venv
db.sqlite3
node_modules
package-lock.json
static/CACHE
development.cfg
production.cfg
.env*
apps/builtin_model/serialized
static/images
static/admin
static/debug_toolbar
static/django_extensions
static/rest_framework
.idea
temp
nginx
dist
images
*.cnf
*.cert
*.pem
*.csr
**/__pycache__
.idea
dist/
