# config and dependency files
venv
db.sqlite3
development.cfg
production.cfg

# ai models (too large)
apps/builtin_model/serialized

# static

static/CACHE
static/images
static/admin
static/debug_toolbar
static/django_extensions
static/rest_framework

# other
temp
nginx
dist
images
*.cnf

# certificates
*.cert
*.pem
*.csr
*.crt
*.key

# cache and dist
**/__pycache__
dist/
*.sql

# env files
env*
.env*

# ide-specific
.idea
.vscode