{% extends 'base.jinja2' %}
{% load static %}
{% block title %}
    Settings
{% endblock %}
{% block body %}
    {% include 'header.jinja2' %}
    <div class="mx-auto max-w-[80rem] pt-8 flex gap-[4rem]">
        {% include 'user/settings/side_settings.jinja2' %}
        <main class="flex-auto">
            <h2 class="text-xl leading-7 font-bold">Profile</h2>
            <p><span class="text-gray-600 text-sm leading-7">This information will be displayed publicly so be careful what you share</span>
            </p>
            <dl class="mt-6 border-t-[1px] border-gray-600 leading-6">
                <form method="post" class="[&>*]:border-t-[1px] [&>*]:pb-4">
                    {% csrf_token %}
                    <!-- Username -->
                    <div class="flex pt-6">
                        <dt class="w-[18rem] font-semibold  pr-6"><label for="usernameInput">Username</label>
                        </dt>
                        <dd class="flex justify-between flex-auto">
                            <div class="text-gray-800">
                                <span id="usernameDisplay">{{ user.username }}</span>
                                <input type="text" name="username" id="usernameInput"
                                       value="{{ user.username }}" class="hidden"></input>
                            </div>
                            <button type="button"
                                    class="hover:text-black font-bold text-blue-800 cursor-pointer"
                                    onclick="toggleInput('username')" id="usernameUpdate">Update
                            </button>
                            <button type="submit" class="font-bold text-blue-800 cursor-pointer hidden"
                                    id="usernameSave"
                                    onclick="toggleInput('username')">Save
                            </button>
                        </dd>
                    </div>
                    <!-- First name -->
                    <div class="flex pt-6">
                        <dt class="w-[18rem] font-semibold  pr-6"><label for="firstnameInput">First name
                        </label>
                        </dt>
                        <dd class="flex justify-between flex-auto">
                            <div class="text-gray-800">
                                        <span id="firstnameDisplay">
                                            {% if user.first_name %}
                                                {{ user.first_name }}
                                            {% else %}
                                                Not specified
                                            {% endif %}
                                        </span>
                                <input type="text" name="first_name" id="firstnameInput"
                                       value="{% if user.first_name %} {{ user.first_name }} {% else %}  Not specified  {% endif %}"
                                       class="hidden"/>
                            </div>
                            <button type="button"
                                    class="hover:text-black font-bold text-blue-800 cursor-pointer"
                                    onclick="toggleInput('firstname')" id="firstnameUpdate">Update
                            </button>
                            <button type="submit" class="font-bold text-blue-800 cursor-pointer hidden"
                                    id="firstnameSave"
                                    onclick="toggleInput('firstname')">Save
                            </button>
                        </dd>
                    </div>
                    <!-- Last name -->
                    <div class="flex pt-6">
                        <dt class="w-[18rem] font-semibold  pr-6"><label for="lastnameInput">Last name</label>
                        </dt>
                        <dd class="flex justify-between flex-auto">
                            <div class="text-gray-800">
                                        <span id="lastnameDisplay">
                                            {% if user.last_name %}
                                                {{ user.last_name }}
                                            {% else %}
                                                Not specified
                                            {% endif %}
                                        </span>
                                <input type="text" name="last_name" id="lastnameInput"
                                       value="{% if user.last_name %} {{ user.last_name }} {% else %}  Not specified  {% endif %}"
                                       class="hidden"/>
                            </div>
                            <button type="button"
                                    class="hover:text-black font-bold text-blue-800 cursor-pointer"
                                    onclick="toggleInput('lastname')" id="lastnameUpdate">Update
                            </button>
                            <button type="submit"
                                    class="font-bold text-blue-800 cursor-pointer hidden"
                                    id="lastnameSave"
                                    onclick="toggleInput('lastname')">Save
                            </button>
                        </dd>
                    </div>
                    <!-- Email -->
                    <div class="flex pt-6">
                        <dt class="w-[18rem] font-semibold  pr-6"><label for="emailInput">Email
                            address</label>
                        </dt>
                        <dd class="flex justify-between flex-auto">
                            <div class="text-gray-800">
                                        <span id="emailDisplay">
                                            {% if user.email %}
                                                {{ user.email }}
                                            {% else %}
                                                Not specified
                                            {% endif %}
                                        </span>
                                <input type="text" name="email" id="emailInput"
                                       value="{% if user.email %} {{ user.email }} {% else %}  Not specified  {% endif %}"
                                       class="hidden"/>
                            </div>
                            <button type="button"
                                    class="hover:text-black font-bold text-blue-800 cursor-pointer"
                                    onclick="toggleInput('email')" id="emailUpdate">Update
                            </button>
                            <button type="submit" class="font-bold text-blue-800 cursor-pointer hidden"
                                    id="emailSave"
                                    onclick="toggleInput('email')">Save
                            </button>
                        </dd>
                    </div>
                    <!-- Password -->
                    <div class="flex pt-6">
                        <dt class="w-[18rem] font-semibold  pr-6">Password</dt>
                        <dd class="flex justify-between flex-auto">
                            <div class="text-gray-800 text-sm">*********<span
                                    class="alert-danger">[encrypted]</span></div>
                            <button type="button"
                                    class=" font-bold text-gray-400"
                                    disabled>
                                Update
                            </button>
                        </dd>
                    </div>
                </form>
            </dl>

            {% if updateSuccess == True %}
                <div class="success alert-success">
                    Profile was updated successfully
                </div>
            {% elif updateSuccess == False %}
                <div class="danger alert-danger">
                    Profile could not be updated
                </div>
            {% endif %}


        </main>
    </div>
{% endblock %}
