{% extends 'base.jinja2' %}
{% load static %}
{% block title %}
    Settings
{% endblock %}
{% block body %}
    {% include 'header.jinja2' %}
    <div class="mx-auto max-w-[80rem] pt-8 flex gap-[4rem]">
        {% include 'user/settings/side_settings.jinja2' %}
        <main class="flex-auto">
            <h2 class="text-xl leading-7 font-bold">Security</h2>
            <p><span class="text-gray-600 text-sm leading-7">This is your security panel</span>
            </p>
            <dl class="mt-6 border-t-[1px] border-gray-600 leading-6">
            </dl>
        </main>
    </div>
{% endblock %}
