{% extends 'base.jinja2' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    {% include 'header.jinja2' %}
    <div>
        Hello, {{ user.username }}
    </div>
{% endblock %}
